body{
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: #264653;
}
.header-paragraph{
    color: #E0E0E0;
}
#btn{
    background-color: #E76F51;
}
.newsletter{
    background-image: url("images/brands/email-2.jpg");
    background-repeat: no-repeat;
  
}
.feature-bike{
    filter: grayscale(1);
}
